@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import "header.css";
@import "sidebar.css";
@import "content.css";
@import "footer.css";
@import "post-detail.css";

/* ---------------------------------------------------------------- */
/* - GENERAL LAYOUT ----------------------------------------------- */
/* ---------------------------------------------------------------- */

/* Dark Theme */
:root {
  --primary-shade: #000000;
  --secondary-shade: #2b2b2b;
  --tertiary-shade: #3b3b3b;
  --quaternary-shade: #494949;
  --quinary-shade: #b9b9b9;
  --senary-shade: #666666;
  --septernary-shade: #989898;
  --octonary-shade: #c9c9c9;
  --nonary-shade: #ffffff;
  --denary-shade: #6d6d6d;
  --accent-shade: #f1a3a3;
}

/* Light Theme */
/* :root {
  --primary-shade: #989898;
  --secondary-shade: #dadada;
  --tertiary-shade: #ebebeb;
  --quaternary-shade: #ffffff;
  --quinary-shade: #555555;
  --senary-shade: #f5f5f5;
  --septernary-shade: #9b9b9b;
  --octonary-shade: #000000;
  --nonary-shade: #000000;
  --denary-shade: #eeeeee;
  --accent-shade: #ca5252;
} */

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "hd hd hd hd hd"
    "sd cnt cnt cnt empty"
    "ft ft ft ft ft";
  width: 100%;
  height: 100vh;
}

@media (max-width: 1400px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "hd hd hd hd"
      "sd cnt cnt cnt"
      "ft ft ft ft";
  }
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: repeat(3, 2fr);
    grid-template-areas:
      "hd hd hd "
      "cnt cnt cnt"
      "ft ft ft";
  }
}
