/* ---------------------------------------------------------------- */
/* - GENERAL LAYOUT ----------------------------------------------- */
/* ---------------------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr repeat(4, 2fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "hd hd hd hd hd"
    "sd cnt cnt cnt cnt"
    "ft ft ft ft ft";
  width: 100vw;
  height: 100vh;
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: repeat(4, 2fr);
    grid-template-areas:
      "hd hd hd hd"
      "cnt cnt cnt cnt"
      "ft ft ft ft";
  }
}

/* ---------------------------------------------------------------- */
/* - HEADER ------------------------------------------------------- */
/* ---------------------------------------------------------------- */

.header {
  grid-area: hd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2b2b2b;
  color: white;
  padding: 0px;
  font-size: 22px;
  min-height: 50px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}

.header p {
  margin: 0;
  margin-left: 10px;
}

.header-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: large;
  height: 50px;
  width: 50px;
}

.header-button:hover {
  background-color: #3b3b3b;
  cursor: pointer;
}

.header-dropdown {
  /* position: relative; */
  /* display: inline-block; */
  display: none;
  flex-direction: row-reverse;
}

.header-dropdown-content {
  display: none;
  margin-top: 50px; /* Move down by amount equal to height of navbar */
  background-color: #3b3b3b;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: absolute;
}

/* Links in dropdown */
.header-dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
  font-size: 20px;
  min-width: 170px;
}

/* Change color of dropdown links on header-dropdown-content hover */
.header-dropdown-content a:hover {
  background-color: #555555;
}

/* Show dropdown menu on header-dropdown hover */
/* .header-dropdown:hover .header-dropdown-content {
  display: block;
} */

/* .header-dropdown:hover .header-button {
  background-color: #3b3b3b;
} */

@media (max-width: 800px) {
  .header-dropdown {
    display: flex;
  }
}

/* ---------------------------------------------------------------- */
/* - SIDEBAR ------------------------------------------------------ */
/* ---------------------------------------------------------------- */

.sidebar {
  grid-area: sd;
  display: flex;
  padding: 10px;
  flex-direction: column;
  background: #3b3b3b;
  color: white;
  min-height: 1vh;
}

.sidebar p {
  margin: 0px;
  padding: 5px;
  font-size: 20px;
}

@media (max-width: 800px) {
  .sidebar {
    display: none;
  }
}

/* ---------------------------------------------------------------- */
/* - CONTENT ------------------------------------------------------ */
/* ---------------------------------------------------------------- */

.content {
  grid-area: cnt;
  margin: 0px;
  padding: 20px;
  background: #494949;
}

.content h1 {
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  color: white;
}

/* ---------------------------------------------------------------- */
/* - POST CARDS --------------------------------------------------- */
/* ---------------------------------------------------------------- */

.post-card-container {
  display: flex;
  flex-direction: column;
}

.post-card {
  display: flex;
  background: #666666;
  width: 100%;
  border-radius: 10px;
  margin: 0px;
  margin-bottom: 10px;
  box-shadow: 0 2px 13px -5px #000;
}

.post-card img {
  width: 20%;
  border-radius: 10px;
  object-fit: cover;
}

.post-card .post-info {
  margin: 0px;
  padding: 10px;
}

.post-card .post-info h2 {
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px;
  color: white;
}

.post-card .post-info .author {
  margin: 0px;
  padding: 0px;
  color: #c9c9c9;
}

.post-card .post-info .date {
  margin: 0px;
  padding: 0px;
  color: #989898;
}

.post-card .post-info .description {
  margin: 0px;
  margin-top: 5px;
  padding: 0px;
  color: #c9c9c9;
}

@media (max-width: 800px) {
  .post-card {
    flex-direction: column;
  }

  .post-card img {
    width: 100%;
    max-height: 150px;
  }
}

/* ---------------------------------------------------------------- */
/* - FOOTER ------------------------------------------------------- */
/* ---------------------------------------------------------------- */

.footer {
  grid-area: ft;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: #2b2b2b;
  color: white;
}
