/* ---------------------------------------------------------------- */
/* - GENERAL LAYOUT ----------------------------------------------- */
/* ---------------------------------------------------------------- */
:root {
  --primary-shade: #000000;
  --secondary-shade: #2b2b2b;
  --tertiary-shade: #3b3b3b;
  --quaternary-shade: #494949;
  --quinary-shade: #b9b9b9;
  --senary-shade: #666666;
  --septernary-shade: #989898;
  --octonary-shade: #c9c9c9;
  --nonary-shade: #ffffff;
  --denary-shade: #6d6d6d;
}

/* :root {
  --primary-shade: #989898;
  --secondary-shade: #dadada;
  --tertiary-shade: #ebebeb;
  --quaternary-shade: #ffffff;
  --quinary-shade: #555555;
  --senary-shade: #f5f5f5;
  --septernary-shade: #9b9b9b;
  --octonary-shade: #000000;
  --nonary-shade: #000000;
  --denary-shade: #eeeeee;
} */

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "hd hd hd hd hd"
    "sd cnt cnt cnt empty"
    "ft ft ft ft ft";
  width: 100%;
  height: 100vh;
}

@media (max-width: 1400px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "hd hd hd hd"
      "sd cnt cnt cnt"
      "ft ft ft ft";
  }
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: repeat(3, 2fr);
    grid-template-areas:
      "hd hd hd "
      "cnt cnt cnt"
      "ft ft ft";
  }
}

/* ---------------------------------------------------------------- */
/* - HEADER ------------------------------------------------------- */
/* ---------------------------------------------------------------- */

.header {
  grid-area: hd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-shade);
  color: var(--nonary-shade);
  padding: 0px;
  font-size: 22px;
  min-height: 50px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}

.header p {
  margin: 0;
  margin-left: 10px;
}

.header-button {
  background-color: transparent;
  border: none;
  color: var(--nonary-shade);
  font-size: large;
  height: 50px;
  width: 50px;
}

.header-button:hover {
  background-color: var(--tertiary-shade);
  cursor: pointer;
}

.header-dropdown {
  /* position: relative; */
  /* display: inline-block; */
  display: none;
  flex-direction: row-reverse;
}

.header-dropdown-content {
  display: none;
  margin-top: 50px; /* Move down by amount equal to height of navbar */
  background-color: var(--tertiary-shade);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: absolute;
}

/* Links in dropdown */
.header-dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: var(--nonary-shade);
  font-size: 20px;
  min-width: 170px;
}

/* Change color of dropdown links on header-dropdown-content hover */
.header-dropdown-content a:hover {
  background-color: var(--secondary-shade);
}

/* Show dropdown menu on header-dropdown hover */
/* .header-dropdown:hover .header-dropdown-content {
  display: block;
} */

/* .header-dropdown:hover .header-button {
  background-color: var(--tertiary-shade);
} */

@media (max-width: 800px) {
  .header-dropdown {
    display: flex;
  }
}

/* ---------------------------------------------------------------- */
/* - SIDEBAR ------------------------------------------------------ */
/* ---------------------------------------------------------------- */

.sidebar {
  grid-area: sd;
  display: flex;
  padding: 10px;
  flex-direction: column;
  background: var(--tertiary-shade);
  color: var(--nonary-shade);
  min-height: 1vh;
}

.sidebar p {
  margin: 0px;
  padding: 5px;
  font-size: 20px;
  text-align: right;
}

.sidebar a {
  text-decoration: none;
  margin: 0px;
  padding: 5px;
  font-size: 20px;
  text-align: right;
  color: var(--nonary-shade);
}

.sidebar a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .sidebar {
    display: none;
  }
}

/* ---------------------------------------------------------------- */
/* - CONTENT ------------------------------------------------------ */
/* ---------------------------------------------------------------- */

.content {
  grid-area: cnt;
  margin: 0px;
  padding: 20px;
  background: var(--quaternary-shade);
}

.content h1 {
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  color: var(--nonary-shade);
}

/* ---------------------------------------------------------------- */
/* - POST CARDS --------------------------------------------------- */
/* ---------------------------------------------------------------- */

.post-card-container {
  display: flex;
  flex-direction: column;
}

.post-card {
  display: flex;
  background: var(--senary-shade);
  width: 100%;
  border-radius: 10px;
  margin: 0px;
  margin-bottom: 10px;
  box-shadow: 0 2px 13px -5px #000;
}

.post-card:hover {
  background: var(--denary-shade);
}

.post-card img {
  width: 20%;
  border-radius: 10px;
  object-fit: cover;
}

.post-card .post-info {
  margin: 0px;
  padding: 10px;
}

.post-card .post-info h2 {
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px;
  color: var(--nonary-shade);
}

.post-card a {
  text-decoration: none;
}

.post-card a:hover {
  text-decoration: underline;
}

.post-card .post-info .author {
  margin: 0px;
  padding: 0px;
  color: var(--octonary-shade);
}

.post-card .post-info .date {
  margin: 0px;
  padding: 0px;
  color: var(--septernary-shade);
}

.post-card .post-info .description {
  margin: 0px;
  margin-top: 5px;
  padding: 0px;
  color: var(--octonary-shade);
}

.post-card .ratings-container {
  margin: 0px;
  margin-bottom: 10px;
}

.post-card .ratings {
  color: var(--quinary-shade);
}

.post-title {
  color: var(--nonary-shade);
}

@media (max-width: 800px) {
  .post-card {
    flex-direction: column;
  }

  .post-card img {
    width: 100%;
    max-height: 150px;
  }
}

/* ---------------------------------------------------------------- */
/* - EMPTY -------------------------------------------------------- */
/* ---------------------------------------------------------------- */

.empty {
  grid-area: empty;
  background: var(--tertiary-shade);
}

/* ---------------------------------------------------------------- */
/* - FOOTER ------------------------------------------------------- */
/* ---------------------------------------------------------------- */

.footer {
  grid-area: ft;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: var(--secondary-shade);
  color: var(--nonary-shade);
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* ---------------------------------------------------------------- */
/* - POST DETAIL -------------------------------------------------- */
/* ---------------------------------------------------------------- */

.post-detail-image {
  display: flex;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  margin: 0px;
  overflow: hidden;
  /* box-shadow: 0 2px 13px -5px #000; */
}

.post-detail-image img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.post-detail-info {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.post-detail-info .date {
  color: var(--septernary-shade);
  margin-left: 10px;
}

.post-detail-info .author {
  color: var(--octonary-shade);
}

.detail-ratings-container {
  margin: 0px;
  margin-bottom: 10px;
}

.detail-ratings-container .ratings {
  color: var(--quinary-shade);
}

.recipe-content {
  color: var(--nonary-shade);
}
